
@font-face {
font-family: 'Liberation SerifRegular';
src: url('LiberationSerif-Regular-webfont.eot');
src: url('LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('LiberationSerif-Regular-webfont.woff') format('woff'),
url('LiberationSerif-Regular-webfont.ttf') format('truetype'),
url('LiberationSerif-Regular-webfont.svg#Liberation SerifRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Liberation SerifItalic';
src: url('LiberationSerif-Italic-webfont.eot');
src: url('LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
url('LiberationSerif-Italic-webfont.woff') format('woff'),
url('LiberationSerif-Italic-webfont.ttf') format('truetype'),
url('LiberationSerif-Italic-webfont.svg#Liberation SerifItalic') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Liberation SerifBold';
src: url('LiberationSerif-Bold-webfont.eot');
src: url('LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('LiberationSerif-Bold-webfont.woff') format('woff'),
url('LiberationSerif-Bold-webfont.ttf') format('truetype'),
url('LiberationSerif-Bold-webfont.svg#Liberation SerifBold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Liberation SerifBold Italic';
src: url('LiberationSerif-BoldItalic-webfont.eot');
src: url('LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
url('LiberationSerif-BoldItalic-webfont.woff') format('woff'),
url('LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
url('LiberationSerif-BoldItalic-webfont.svg#Liberation SerifBold Italic') format('svg');
font-weight: normal;
font-style: normal;
}