---
layout: page
permalink: /404.html
title: 404
subtitle: Page Not Found
description: "Eine finstere Sackgasse des Internets"
robots: noindex
---

<p>Ooops, seems you have reached the dark end of the internet. You can go back by searching something usefull below.</p>

<p>Oh, das scheint eine finstere Sackgasse des Internets zu sein. Zum Glück gibt es immer einen Weg zurück!</p>

<form method="get" id="search" action="https://duckduckgo.com/">
    <input name="sites" value="{{ site.url | remove:'https://' }}" type="hidden">
    <div style="display: table;">
        <span style="border-width: 1px 0px 1px 1px; border-style: solid; border-color: #ccc; background-color: #eee; padding: 6px 12px; border-radius: 4px 0px 0px 4px; display: table-cell; vertical-align: middle; width: 1%; line-height: 1;"><i class="fa fa-search fa-fw"></i></span>
        <input style="width: 100%; border: 1px solid #ccc; border-radius: 0px 4px 4px 0px; display: table-cell; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; padding: 0px 0.5em; height: 34px; z-index: 2;" name="q" maxlength="255" placeholder="Suche auf {{ site.url | remove:'https://' }}…" type="search">
        <input value="DuckDuckGo Search" style="visibility: hidden; display: none;" type="submit">
    </div>
</form>