---
layout: post-index
permalink: /articles/
title: alles auf einmal
description: "An archive of all posts."
robots: noindex,nofollow,noarchive,noodp,noydir
---

{% for post in site.posts %}
<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
	<div class="entry-meta"><span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span> written by <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if post.author %}{{ post.author }}{% else %}<a href="{{ site.url }}/about{% if site.owner.nick %}/{{ site.owner.nick }}{% endif %}" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a>{% endif %}</span></span></div><!-- /.entry-meta -->
      <h2 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" itemprop="url" title="{{ post.title }}">{% if post.link %}<i class="icon-double-angle-right"></i></a> <a href="{{ post.link }}">{% endif %}{{ post.title }}</a></h2>{% if post.subtitle %}
      <h3 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.subtitle }}</a></h3>{% endif %}
  </header>
  <div class="entry-content" itemprop="description">
	<p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}<br /><a href="{{ site.url }}{{ post.url }}">more here&hellip; <i class="fa fa-hand-o-right"></i></a></p>
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}