---
layout: post-index
title: '!bang!'
description: "This weblog’s aim is to mention thoughts and point to more or less pointless issues in the World Wide Web or real life containing nerd stuff, agitprop and other parent's children's art pieces."
tags: [blog, tasmo, music, Android, OpenSource, tutorials, code]
---

{% for post in paginator.posts %}
<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
	{% if post.image.feature %}
      <div class="entry-image-index">
		<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
		  <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}">
		</a>
      {% if post.image.credit %}
		<div class="image-credit">
		  Image source: {% if post.image.creditlink %}<a href="{{ post.image.creditlink }}">{% endif %}{{ post.image.credit }}{% if post.image.creditlink %}</a>{% endif %}
		</div>
	  {% endif %}
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
	  <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span> written by <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if post.author %}{{ post.author }}{% else %}<a href="{{ site.url }}/about{% if site.owner.nick %}/{{ site.owner.nick }}{% endif %}" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a>{% endif %}</span></span>
	</div><!-- /.entry-meta -->
    {% if post.link %}
      <h2 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" itemprop="url" title="{{ post.title }}"><i class="icon-double-angle-right"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h2>{% if post.subtitle %}
      <h3 class="entry-title" itemprop="name"><a href="{{ post.link }}">{{ post.subtitle }}</a></h3>{% endif %}
    {% else %}
      <h2 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h2>{% if post.subtitle %}
      <h3 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.subtitle }}</a></h3>{% endif %}
    {% endif %}
  </header>
  <div class="entry-content" itemprop="description">
	{{ post.content | split:'<!--more-->' | first }}
	{% if post.content contains '<!--more-->' %}
	<br /><a href="{{ post.url }}">more here&hellip; <i class="fa fa-hand-o-right"></i></a>
	{% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <a href="/" class="btn">Previous</a>
  {% else %}
  <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
  {% endif %}
  {% else %}
  <span class="btn">Previous</span>
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
      <span class="current-page btn btn-info">1</span>
      {% else %}
      <a class="btn" href="/">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
        <span class="current-page btn btn-info">{{ count }}</span>
        {% else %}
        <a class="btn" href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
  <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
  <span class="btn">Next</span>
  {% endif %}
</div>