---
layout: post-index
permalink: /tags/
title: Tag-Archiv
description: "An archive of posts sorted by tag."
robots: noindex,nofollow,noarchive,noodp,noydir
---

<ul class="entry-meta inline-list">
{% assign tags_list = site.tags %}
	{% if tags_list.first[0] == null %}
		{% for tag in tags_list %}
		<li><a href="#{{ tag | uri_escape | downcase | cgi_escape }}" class="tag"><span class="term">{{ tag }}</span> <span class="count">{{ site.tags[tag].size }}</span></a></li>
		{% endfor %}
	{% else %}
		{% for tag in tags_list %}
		<li><a href="#{{ tag[0] | uri_escape | downcase | cgi_escape }}" class="tag"><span class="term">{{ tag[0] }}</span> <span class="count">{{ tag[1].size }}</span></a></li>
		{% endfor %}
	{% endif %}
{% assign tags_list = nil %}
</ul>

{% for tag in site.tags %}
	<section class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	  <h2 id="{{ tag[0] | uri_escape | downcase }}" class="tag"><span>{{ tag[0] }}</span></h2>
		<ul>
		{% assign pages_list = tag[1] %}
		{% for post in pages_list %}
			{% if post.title != null %}
			{% if group == null or group == post.group %}
				<li class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></li>
			{% endif %}
			{% endif %}
		{% endfor %}
		{% assign pages_list = nil %}
		{% assign group = nil %}
		</ul>
	</section><!-- /.hentry -->
{% endfor %}