<div id="to-top">
	<a title="Got to top" href="#main" class="hidden">Go to top</a>
	<a title="Scroll to top" href="#top" class="btn fa fa-angle-up fa-5x"></a>
</div>
<div><a class="feed btn" href="/feed.xml"><i class="fa fa-rss fa-2x"></i><br />subscripe to the RSS feed</a></div>
<div id="legal-links">
  <ul class="inline-list">
	<li><a class="btn" href="/about/impress"><i class="fa fa-info-circle"></i> Impressum</a></li>
    <li><a class="btn" href="/about/privacy"><i class="fa fa-balance-scale"></i> Datenschutzerklährung</a></li>
  </ul>
</div>
<div>
  <a href="#lizenz" class="toggle_button btn"><strong>Lizenz:</strong> <i class="fab fa-creative-commons fa-2x"></i> <i class="fab fa-creative-commons-by fa-2x"></i> CC BY 4.0 <i class="fa fa-chevron-down"></i></a>
<div id="lizenz" class="toggle_content copyright">
<p>Die Inhalte von „<a href="{{ site.url }}">{{ site.title }}</a>“ habe ich als Urheber unter der <a href="https://creativecommons.org/licenses/by/4.0/deed.de"><strong>Creative-Commons-Lizenz CC-BY-4.0</strong></a>. veröffentlicht. Dies bedeutet, dass eine <strong>kostenlose Nutzung</strong> außerhalb dieser Webseite unter folgenden Bedingungen möglich ist:</p>
<ol>
	<li>Am Bild/Im Bildnachweis oder Impressum: „© Thomas Friese / <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC-BY-4.0</a> (via <a href="{{ site.url }}">tasmo.rocks</a>)“<br />
	Falls dies aus Platzgründen nicht möglich ist, nehmen Sie bitte vor einer geplanten Verwendung <a href="/about/impress/">Kontakt mit mir auf</a>.</li>
	<li>In Onlinemedien, falls möglich, setzen Sie bitte einen Link auf die Ursprungsseite: {{ site.url }}{{ page.url }}</li>
</ol>
<p>Ich würde mich sehr über die Zusendung eines Belegexemplares bzw. der Angabe der Internetseite, wo das Foto/mein Text benutzt wird, freuen.<br />
Bitte <a href="/about/impress/">schreiben Sie eine E-Mail</a>, wenn Sie</p>
<ul>
	<li>weitere Informationenn oder inhalte benötigen,</li>
	<li>meine Adresse für die Zusendung eines Belegexemplares benötigen,</li>
	<li>weitergehende Fragen zur lizenzkonformen Nutzung haben.</li>
</ul>
</div></div>
