<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.owner.name }}{% endif %}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
{% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% endif %}
{% if site.owner.twitter %}<!-- Twitter Cards -->
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}<meta name="twitter:card" content="Trendresetter, Datenpunk, NaN, 42 > 23 | I got sunshine in my back. NKLLN BLN">
<meta name="twitter:image" content="{% if page.image.thumb %}/images/{{ page.image.thumb }}{% else %}/images/{{ site.logo }}{% endif %}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">{% endif %}
<!-- Open Graph -->
<meta property="og:locale" content="de_DE">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.image.feature %}<meta property="og:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}<meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}

<meta name="generator" content="{{ site.generator }}">

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}" />
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} | feed your reader" />

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Style Sheets -->
<link rel="stylesheet" href="/assets/css/min.css" />
<link rel="stylesheet" href="/assets/fonts/OpenSans/opensans.css" />
<link rel="stylesheet" href="/assets/fonts/LiberationSerif/stylesheet.css" />

<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

<!-- Load Modernizr -->
<script src="/assets/js/vendor/modernizr-3.6.0.custom.js"></script>

<!-- jQuery -->
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>

<!-- Fancybox -->
<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" />
<link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-buttons.css" />
<link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-thumbs.css" />
<script src="/assets/js/vendor/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/assets/fancybox/jquery.fancybox.pack.js"></script>
<script src="/assets/fancybox/helpers/jquery.fancybox-buttons.js"></script>
<script src="/assets/fancybox/helpers/jquery.fancybox-media.js"></script>
<script src="/assets/fancybox/helpers/jquery.fancybox-thumbs.js"></script>

<!-- Fuse.js -->
<script src="/assets/js/vendor/fuse.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="/favicon.ico" />
<!-- 32x32 -->
<link rel="shortcut icon" href="/favicon.png" />
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png" />
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png" />
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png" />

{% if page.image.background or site.background %}
{% capture background %}{% if page.image.background %}{{ page.image.background }}{% else %}{{ site.background }}{% endif %}{% endcapture %}
{% unless background contains 'http://' or background contains 'https://' %}{% capture background %}/images/{{ background }}{% endcapture %}{% endunless %}
<style type="text/css">body {background-image:url({{ background }});}</style>
{% endif %}