<a id="skipnav" style="position:absolute;top:-10000px;" href="#main" title="Jump to content">skip to content</a>
<nav id="dl-menu" class="dl-menuwrapper" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="/"><i class="fas fa-home"></i> Home</a></li>
		<li>
			<a href="#" data-action="omnisearch-open" data-target="#omnisearch">
				<i class="fas fa-search"></i> Search
			</a>
		</li>
		<li>
		<a href="#"><i class="far fa-user"></i> About</a>
			<ul class="dl-submenu">
				<li>
					<img src="/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo" />
					<!-- <h4>{{ site.owner.name }}</h4> -->
					<!-- <p>{{ site.owner.bio }}</p> -->
				</li>
				<li><a href="/about/tasmo"><i class="fa fa-user"></i> more about me</a></li>
				{% if site.owner.podcast %}<li>
				  <a href="{{ site.owner.podcast }}"><i class="fas fa-podcast"></i> Podcast</a>
				</li>{% endif %}
				{% if site.owner.twitter %}<li>
					<a href="http://twitter.com/{{ site.owner.twitter }}"><i class="fab fa-twitter"></i> Twitter</a>
				</li>{% endif %}
				{% if site.owner.mastodon %}<li>
					<a rel="me" href="{{ site.owner.mastodon }}"><i class="fab fa-mastodon"></i> Mastodon</a>
				</li>{% endif %}
				{% if site.owner.linkedin %}<li>
					<a href="http://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fab fa-linkedin"></i> LinkedIn</a>
				</li>{% endif %}
				{% if site.owner.github %}<li>
					<a href="http://github.com/{{ site.owner.github }}"><i class="fab fa-github"></i> GitHub</a>
				</li>{% endif %}
				{% if site.owner.stackexchange %}<li>
					<a href="{{ site.owner.stackexchange }}"><i class="fab fa-stackexchange"></i> Stackexchange</a>
				</li>{% endif %}
				{% if site.owner.instagram %}<li>
					<a href="http://instagram.com/{{ site.owner.instagram }}"><i class="fab fa-instagram"></i> Instagram</a>
				</li>{% endif %}
				{% if site.owner.flickr %}<li>
					<a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fab fa-flickr"></i> Flickr</a>
				</li>{% endif %}
				{% if site.owner.donations %}<li>
					<a rel="me" href="{{ site.owner.donations }}"><i class="fas fa-coins"></i> Donations</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#"><i class="fas fa-folder-open"></i> Posts</a>
			<ul class="dl-submenu">
				<li><a href="/articles/"><i class="fas fa-sort"></i> All Posts</a></li>
				<li><a href="/tags/"><i class="fas fa-tags"></i> All Tags</a></li>
			</ul>
		</li>
		{% for link in site.links %}<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}"><i class="fa fa-{% if link.icon %}{{ link.icon }}{% else %}link{% endif %}"></i> {{ link.title }}</a></li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
