<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

<!-- Fancybox -->
<script>
  $(document).ready(function() {
    // scroll to top
    $("a[href='#top']").click(function() {
      $("html, body").animate({ scrollTop: $("#main").offset().top }, "slow");
      return false;
    });
    // fancybox
    $("a[href$='.jpg'],a[href$='.jpeg'],a[href$='.png'],a[href$='.gif']").addClass("fancybox").fancybox({ padding : 0 });
    $(".fancybox").fancybox({ padding : 0 });
    $(".lightbox").fancybox({ padding : 0 });
    $(".iframe").fancybox({
      maxWidth  : 800,
      maxHeight : 600,
      fitToView : false,
      width   : '70%',
      height    : '70%',
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'none',
      closeEffect : 'none'
    });
    $("a[href*='youtube.com/']").addClass("fancybox.iframe").fancybox({
      beforeLoad : function(){
        var url= $(this.element).attr("href");
        url = url.replace(new RegExp("watch\\?v=", "i"), 'v/');
        url += '?fs=1&autoplay=1';
        this.href = url
      },
      padding : 0
    });
    $("a[href*='vimeo.com/']").addClass("fancybox.iframe").fancybox({
      helpers: {
        media: {}
      },
      padding : 0
    });
  });
  // Font Awesome
  $("a[href*='youtube.com/']").prepend( $( "<i class='fa fa-youtube-play'>&nbsp;</i>" ) );
  $("a[href*='vimeo.com/']").prepend( $( "<i class='fa fa-vimeo-square'>&nbsp;</i>" ) );
  $("a[href$='/download']").prepend( $( "<i class='fa fa-cloud-download'>&nbsp;</i>" ) );
  $("a.download").prepend( $( "<i class='fa fa-cloud-download'>&nbsp;</i>" ) );
</script>
<!-- End Fancybox -->

<!-- Toggle Button -->
<script>
  $(document).ready(function() {
    $( ".toggle_content" ).hide();
  });
  $( ".toggle_button" ).click(function() {
    $( ".toggle_content" ).toggle( "slow" );
  });
</script>
<!-- End Toggle Button -->

<script>
var pixelRatio = window.devicePixelRatio || 1;
if(window.innerWidth/pixelRatio < 641 ) {
  easy_fancybox_handler = null;
};
</script>

<!-- Search -->
<script>
var posts = []; // will hold the json array from your site.json file

$("body").on("click", "[data-action]", function (e) {
  e.preventDefault();
  var $this = $(this);
  var action = $this.data('action');
  var target = $this.data('target');
  if (action === 'omnisearch-open') {
    var $searchFormEl = $(target).find('.form-control');
    search($searchFormEl.val()); // to handle cases where the search field isn't empty, i.e, the user searched for something earlier
    $searchFormEl.keyup(function (e) { // refresh results while user is typing
      e.preventDefault();
      search($searchFormEl.val());
    });
  }
});

function search(searchStr) {
  fetchSiteJson(searchCallback(searchStr));
}

function searchCallback(searchStr) {
  return function () {
    var options = { 		// initialize options for fuse.js
      shouldSort: true,
      threshold: 0.4,
      location: 0,
      distance: 100,
      maxPatternLength: 32,
      minMatchCharLength: 1,
      keys: [
        {
          name: "title",
          weight: 0.3		// give title more importance
        },
        {
          name: "content",
          weight: 0.4
        }
      ]
    };

    // initialize fuse.js library
    var fuse = new Fuse(posts, options);
    var results = fuse.search(searchStr); // invoke search method in fuse.js library

    if (searchStr.length === 0) {
      updateResults(posts.slice(0, 5), true); // if there are no search results, show some suggestions
    } else {
      updateResults(results, false);
    }
  }
}

function updateResults(results, isSuggestion) {
  var resultsHtml = '';
  results.forEach(function (res) {
	resultsHtml += '<li>' +
	  '<a class="list-link" href="' + res.url + '">' +
	  '<i class="search-icon" data-feather="' + (isSuggestion ? 'clock' : 'search') + '"></i> ' +
	  '<span>' + res.title + '</span><small> on ' + res.date + '</small>' +
	  '</a>' +
	  '</li>';
  });
  var resultsWrapperHtml = '<h6 class="heading">Search ' + (isSuggestion ? 'Suggestions' : 'Results') + '</h6>' +
	'<div class="row">' +
	'<div class="col-sm-12">' +
	'<ul class="list-unstyled mb-0">' + resultsHtml + '</ul></div></div>';
  // insert the result html into the page
  $('.omnisearch-suggestions').html(resultsWrapperHtml);
  // render feather icons
  feather.replace({class: 'search-icon', width: '1em', height: '1em'});
}


function fetchSiteJson(callback) {
  if (posts.length === 0) {
	$.get("/search_index.json", function (data) {
	  posts = data;
	  callback();
	});
  } else { // we already have the posts so simply use it instead of downloading the file again
	callback();
  }
}
</script>
<!-- End Search -->