<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" {% if page.image.feature %}class="feature"{% endif %} itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}
{% include navigation.html %}

{% if page.image.feature %}
<div class="entry-header">
	<div class="entry-image"><div class="placeholder" style="background-image:url('{{ site.url }}/images/{{ page.image.feature }}');"></div>
    {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <article class="entry">
    <header class="header-title">
      <div class="header-title-wrap">
        <h1 class="entry-title" itemprop="name">{{ page.title }}</h1>{% if page.subtitle %}
        <h2 class="entry-title" itemprop="description">{{ page.subtitle }}</h2>{% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
	<div class="entry-content" itemprop="description">
	  {{ content }}
	</div><!-- /.entry-content -->
	<footer class="entry-meta">
	  {%- if page.comments -%}
	  <section id="comments">
		<p>If you want to leave a comment for me or share some useful hints feel free <a href="/about/impress/">to get in touch with me</a>.</p>
	  </section><!-- /#comments -->{%- endif -%}
	</footer>
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer>
    {%- include footer.html -%}
  </footer>
</div><!-- /.footer-wrapper -->

{%- include scripts.html -%}

</body>
</html>
