<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}"><!--<![endif]-->
<head>
  {% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %} itemscope itemtype="http://schema.org/WebPage">

  {% include browser-upgrade.html %}
  {% include navigation.html %}

  {% if page.image.feature %}
  <div class="entry-header">
	<div class="entry-image"><div class="placeholder" style="background-image:url('{{ site.url }}/images/{{ page.image.feature }}');"></div>
	  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
	</div><!-- /.entry-image -->
  </div><!-- /.entry-header -->
  {% endif %}

  <div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
	<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	  <header class="header-title">
		<div class="header-title-wrap">
		  <h1 class="entry-title" itemprop="name">{{ page.title }}</h1>{% if page.subtitle %}
		  <h2 class="entry-title" itemprop="description">{{ page.subtitle }}</h2>{% endif %}
		</div><!-- /.header-title-wrap -->
	  </header>
	  <div class="entry-content" itemprop="description">
		{{ content }}
	  </div><!-- /.entry-content -->
	  <footer class="entry-meta">
		{%- if page.comments -%}
		<section id="comments">
		  <p>If you want to leave a comment for me or share some useful hints feel free <a href="/about/impress/">to get in touch with me</a>.</p>
		</section><!-- /#comments -->{%- endif -%}
		<section id="meta-author">
		  <span><a href="{{ site.url }}{{ page.url }}" rel="bookmark" itemprop="url" title="{{ page.title }}"><em>{{ page.title }}</em></a>{% if page.author %} written by <em>{{ page.author }}</em>{% endif %} was published on <span class="entry-date date published updated"><time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></span>
		  {% if page.modified %}(revised: <span class="entry-date date modified"><time itemprop="dateModified" datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date: "%B %d, %Y" }}</time></span>){% endif %}
		  <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="fn">{% if page.author %}{{ page.author }}{% else %}<a href="{{ site.url }}/about{% if site.owner.nick %}/{{ site.owner.nick }}{% endif %}" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a>{% endif %}</span></span>
		  <div id="meta-source">
			<span>See the <a href="https://codeberg.org/tasmo/blog/src/branch/main/{{ page.path }}"><code>source code</code> of this post</a>.</span>
		  </div>
		</section><!-- /#meta-author -->
		<section id="tags">
		  <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | uri_escape | downcase | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag" class="tag">{{ tag }}</a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
		</section><!-- /#tags -->
	  </footer>
	</article>
	{% if site.related_posts.size %}
	<div class="read-more">
	  {% for post in site.related_posts limit:1 %}
	  <div class="read-more-header">
		<a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">Read More</a>
	  </div><!-- /.read-more-header -->
	  <div class="read-more-content">
		<h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>{% if post.subtitle %}
		  <h4>{{ post.subtitle }}</h4>{% endif %}
		  <p>{% if post.description %}{{ post.description }}&hellip;{% else %}{{ post.content | markdownify | strip_html | strip_newlines | truncate: 140 }}{% endif %}<br /><a href="{{ site.url }}{{ post.url }}">Continue reading</a></p>
	  </div><!-- /.read-more-content -->
	  {% endfor %}
	  <div class="read-more-list">
		{% if page.next %}
		{% if page.previous %}
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></h4>{% if page.previous.subtitle %}
		  <p>{{ page.previous.subtitle }}</p>{% endif %}
		  <span>Published on {{ page.previous.date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		{% if page.next %}
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></h4>{% if page.next.subtitle %}
		  <p>{{ page.next.subtitle }}</p>{% endif %}
		  <span>Published on {{ page.next.date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		{% else %}
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ site.posts[2].url }}" title="{{ site.posts[2].title }}">{{ site.posts[2].title }}</a></h4>{% if site.posts[2].subtitle %}
		  <p>{{ site.posts[2].subtitle }}</p>{% endif %}
		  <span>Published on {{ site.posts[2].date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		{% endif %}
		{% else %}
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ site.posts[1].url }}" title="{{ site.posts[1].title }}">{{ site.posts[1].title }}</a></h4>{% if site.posts[1].subtitle %}
		  <p>{{ site.posts[1].subtitle }}</p>{% endif %}
		  <span>Published on {{ site.posts[1].date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></h4>{% if page.next.subtitle %}
		  <p>{{ page.next.subtitle }}</p>{% endif %}
		  <span>Published on {{ page.next.date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		{% endif %}
		{% else %}
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ site.posts[2].url }}" title="{{ site.posts[2].title }}">{{ site.posts[2].title }}</a></h4>{% if site.posts[2].subtitle %}
		  <p>{{ site.posts[2].subtitle }}</p>{% endif %}
		  <span>Published on {{ site.posts[2].date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		<div class="list-item">
		  <h4><a href="{{ site.url }}{{ site.posts[3].url }}" title="{{ site.posts[3].title }}">{{ site.posts[3].title }}</a></h4>{% if site.posts[3].subtitle %}
		  <p>{{ site.posts[3].subtitle }}</p>{% endif %}
		  <span>Published on {{ site.posts[3].date | date: "%B %d, %Y"}}</span>
		</div><!-- /.list-item -->
		{% endif %}
	  </div><!-- /.read-more-list -->
	  {% endif %}
	</div><!-- /.read-more -->
  </div><!-- /#main -->

  <div class="footer-wrapper">
	<footer>
	  {%- include footer.html -%}
	</footer>
  </div><!-- /.footer-wrapper -->

  {%- include scripts.html -%}

</body>
</html>
