<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% if site.lang %}{{ site.lang }}{% else %}en{% endif %}"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index" class="{% if page.image.feature %}feature{% endif %} {% if page.url == "/" %}index{% endif %}" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header">
  {% if page.image.feature %}
    <div class="entry-image"><img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}" itemprop="image" />
      {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
    </div><!-- /.entry-image -->
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
      {% if site.logo %}<img id="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.name }} logo" />{% endif %}
      <h1>{{ site.title }}</h1>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" {% if page.image.feature %}class="imagepadding" {% endif %}role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>